.main-container {
  height: 500px;
  width: 920px;

  margin: 200px auto;
  position: relative;
}

.sedan-container {
  height: 500px;
  width: 307px;
  background-color: #e28625;
  position: absolute;
  border-radius: 10px 0 0 10px;
}
.suvs-container {
  height: 500px;
  width: 307px;
  background-color: #006971;
  position: absolute;
  left: 307px;
}
.luxury-container {
  height: 500px;
  width: 307px;
  background-color: #004140;
  position: absolute;
  left: 614px;
  border-radius: 0 10px 10px 0;
}
svg {
  position: absolute;
  top: 48px;
  left: 48px;
}
h1 {
  font-family: 'Big Shoulders Display';
  position: absolute;
  top: 123px;
  left: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #f2f2f2;
}
p {
  position: absolute;
  top: 196px;
  left: 48px;
  right: 47.5px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  color: #ffffff;
}
.sedan-btn {
  position: absolute;
  top: 404px;
  left: 48px;
  background: #f2f2f2;
  border-radius: 25px;
  height: 48px;
  width: 146px;
  border: none;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: #e28625;
}
.suvs-btn {
  position: absolute;
  top: 404px;
  left: 48px;
  background: #f2f2f2;
  border-radius: 25px;
  height: 48px;
  width: 146px;
  border: none;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: #006971;
}
.luxury-btn {
  position: absolute;
  top: 404px;
  left: 48px;
  background: #f2f2f2;
  border-radius: 25px;
  height: 48px;
  width: 146px;
  border: none;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: #004140;
}
.luxury-btn:hover {
  color: white;
  background-color: #004140;
  border: 1px solid white;
}
.suvs-btn:hover {
  color: white;
  background-color: #006971;
  border: 1px solid white;
}
.sedan-btn:hover {
  color: white;
  background-color: #e28625;
  border: 1px solid white;
}
